@model List<Lightoxs.Model.BaiViet>

@{
    ViewBag.Title = "Chăm Sóc Sắc Đẹp | MEDIBLESS Viet Nam";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <section class="blog-three">
        <div class="con">
            <div class="r">
                <div class="c-12"><h1 class="text-center text-blue text-primary1 pb-5">CHĂM SÓC SẮC ĐẸP</h1></div>

                @foreach (var bv in Model)
                {
                    <div class="c-m-12 pl-3 pr-3">
                        <div class="blog-box d-m-f">
                            <div class="blog-content">
                                <h5>
                                    <a href="@Url.Action("ChamSocSacDep_Details", "TinTuc", new { @baiVietID = bv.MaBV})">
                                        @bv.TenBV
                                    </a>
                                </h5>
                                <ul class="d-f">
                                    <li class=""><i class="fa fa-calendar"></i>@String.Format("{0:ddd, MMM d, yyyy}", bv.NgayDang)</li>
                                    <li class="">
                                        <i class="fa fa-user-o"></i><a href="https://www.facebook.com/ducanh.tra.3"
                                                                       target="blank">@bv.NhanVien.HoTen</a>
                                    </li>
                                </ul>
                                <p>
                                    @bv.MoTa ...
                                </p>
                                <span><a href="@Url.Action("ChamSocSacDep_Details", "TinTuc", new { @baiVietID = bv.MaBV })">Chi tiết</a></span>
                            </div>
                        </div>
                    </div>
                }

                <div class="c-m-12 pl-3 pr-3">
                    <div class="pagination-box text-center">
                        <ul class="d-f justify-content-center">
                            @for(int i = 0; i < ViewBag.Total; i++)
                            {
                                if ( i + 1 == Convert.ToInt32(ViewBag.Page))
                                {
                                    <li class="mr-2 active"><a href="@Url.Action("ChamSocSacDep", "TinTuc", new { @page = i + 1})">@(i + 1)</a></li>
                                }
                                else
                                {
                                    <li class="mr-2"><a href="@Url.Action("ChamSocSacDep", "TinTuc", new { @page = i + 1})">@(i + 1)</a></li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

