@using Lightoxs.Model

@{ if (Session["Account"] == null || Session["Account"].ToString() == "")
    {
        ViewBag.Error = "You must login first";
        Response.Redirect("~/Admin/Home/Login");
    }
}

<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
        ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Content/Admin/bootstrap.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS
        ============================================ -->
    <link href="~/Content/Admin/font-awesome.min.css" rel="stylesheet" />
    <!-- owl.carousel CSS
        ============================================ -->
    <link href="~/Content/Admin/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/Admin/owl.transitions.css" rel="stylesheet" />
    <link href="~/Content/Admin/owl.theme.css" rel="stylesheet" />
    <!-- animate CSS
        ============================================ -->
    <link href="~/Content/Admin/animate.css" rel="stylesheet" />
    <!-- normalize CSS
        ============================================ -->
    <link href="~/Content/Admin/normalize.css" rel="stylesheet" />
    <!-- meanmenu icon CSS
        ============================================ -->
    <link href="~/Content/Admin/meanmenu.min.css" rel="stylesheet" />
    <!-- main CSS
        ============================================ -->
    <link href="~/Content/Admin/main.css" rel="stylesheet" />
    <!-- educate icon CSS
        ============================================ -->
    <link href="~/Content/Admin/educate-custon-icon.css" rel="stylesheet" />
    <!-- morrisjs CSS
        ============================================ -->
    <link href="~/Content/Admin/morrisjs/morris.css" rel="stylesheet" />
    <!-- mCustomScrollbar CSS
        ============================================ -->
    <link href="~/Content/Admin/scrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <!-- metisMenu CSS
        ============================================ -->
    <link href="~/Content/Admin/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/metisMenu/metisMenu-vertical.css" rel="stylesheet" />
    <!-- notifications CSS
        ============================================ -->
    <link href="~/Content/Admin/notifications/Lobibox.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/notifications/notifications.css" rel="stylesheet" />
    <!-- calendar CSS
        ============================================ -->
    <link href="~/Content/Admin/calendar/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Content/Admin/calendar/fullcalendar.print.min.css" rel="stylesheet" />
    <!-- forms CSS
     ============================================ -->
    <link href="~/Content/Admin/form/all-type-forms.css" rel="stylesheet" />
    <!-- dropzone CSS
        ============================================ -->
    <link href="~/Content/Admin/dropzone/dropzone.css" rel="stylesheet" />
    <!-- summernote CSS
        ============================================ -->
    <link href="~/Content/Admin/summernote/summernote.css" rel="stylesheet" />
    <!-- style CSS
        ============================================ -->
    <link href="~/Content/Admin/style.css" rel="stylesheet" />
    <!-- responsive CSS
        ============================================ -->
    <link href="~/Content/Admin/responsive.css" rel="stylesheet" />
    <!-- modernizr JS
        ============================================ -->
    <script src="~/Scripts/Admin/vendor/modernizr-2.8.3.min.js"></script>
    <!-- jquery
        ============================================ -->
    <script src="~/Scripts/Admin/vendor/jquery-1.12.4.min.js"></script>
    <!-- notification JS
        ============================================ -->
    <script src="~/Scripts/Admin/notifications/Lobibox.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Start Left menu area -->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            <div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="~/Images/Admin/logo/logo.png" alt="" /></a>
                <strong><a href="index.html"><img src="~/Images/Admin/logo/logosn.png" alt="" /></a></strong>
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a class="has-arrow" href="index.html">
                                <span class="educate-icon educate-home icon-wrap"></span>
                                <span class="mini-click-non">Bài Đăng</span>
                            </a>
                            <ul class="submenu-angle" aria-expanded="true">
                                <li><a title="Dashboard v.1" href="@Url.Action("Index", "Home")"><span class="mini-sub-pro">Thêm bài đăng</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- End Left menu area -->
    <!-- Start Welcome area -->
    <div class="all-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="logo-pro">
                        <a href="@Url.Action("Index", "Home")"><img class="main-logo" src="~/Images/Admin/logo/logo.png" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-advance-area mg-b-30">
            <div class="header-top-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="header-top-wraper">
                                <div class="row">
                                    <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                        <div class="menu-switcher-pro">
                                            <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                                <i class="educate-icon educate-nav"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                        <div class="header-top-menu tabl-d-n">

                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                        <div class="header-right-info">
                                            <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                                <li class="nav-item">
                                                    <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                        @{
                                                            NhanVien nv = Session["Account"] as NhanVien;
                                                            if (nv == null)
                                                            {
                                                                nv = new NhanVien();
                                                                nv.HoTen = "";
                                                            }

                                                        }
                                                        <img src="~/Images/Admin/Employee/admin.png" alt="Thuy Dao Xuan" />

                                                        <span class="admin-name">@nv.HoTen.ToString()</span>
                                                        <i class="fa fa-angle-down edu-icon edu-down-arrow"></i>
                                                    </a>
                                                    <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                        <li>
                                                            <a href="@Url.Action("Logout", "Home")"><span class="edu-icon edu-locked author-log-ic"></span>Log Out</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu start -->
            <div class="mobile-menu-area mg-b-30">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mobile-menu">
                                <nav id="dropdown">
                                    <ul class="mobile-menu-nav">
                                        <li>
                                            <a data-toggle="collapse" data-target="#Charts" href="#">Bài đăng <span class="admin-project-icon edu-icon edu-down-arrow"></span></a>
                                            <ul class="collapse dropdown-header-top">
                                                <li><a href="@Url.Action("Index", "Home")">Thêm bài đăng</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Mobile Menu end -->
        </div>
        @RenderBody()
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2018 Nho Tim Company
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- bootstrap JS
        ============================================ -->
    <script src="~/Scripts/Admin/bootstrap.min.js"></script>
    <!-- wow JS
        ============================================ -->
    <script src="~/Scripts/Admin/wow.min.js"></script>
    <!-- price-slider JS
        ============================================ -->
    <script src="~/Scripts/Admin/jquery-price-slider.js"></script>
    <!-- meanmenu JS
        ============================================ -->
    <script src="~/Scripts/Admin/jquery.meanmenu.js"></script>
    <!-- owl.carousel JS
        ============================================ -->
    <script src="~/Scripts/Admin/owl.carousel.min.js"></script>
    <!-- sticky JS
        ============================================ -->
    <script src="~/Scripts/Admin/jquery.sticky.js"></script>
    <!-- scrollUp JS
        ============================================ -->
    <script src="~/Scripts/Admin/jquery.scrollUp.min.js"></script>
    <!-- mCustomScrollbar JS
        ============================================ -->
    <script src="~/Scripts/Admin/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/Admin/scrollbar/mCustomScrollbar-active.js"></script>
    <!-- metisMenu JS
        ============================================ -->
    <script src="~/Scripts/Admin/metisMenu/metisMenu-active.js"></script>
    <script src="~/Scripts/Admin/metisMenu/metisMenu.min.js"></script>
    <!-- datepicker JS
    ============================================ -->
    <script src="~/Scripts/Admin/datepicker/jquery-ui.min.js"></script>
    <script src="~/Scripts/Admin/datepicker/datepicker-active.js"></script>
    <!-- morrisjs JS
    ============================================ -->
    <script src="~/Scripts/Admin/sparkline/jquery.charts-sparkline.js"></script>
    <script src="~/Scripts/Admin/sparkline/jquery.sparkline.min.js"></script>
    <!-- summernote JS
    ============================================ -->
    <script src="~/Scripts/Admin/summernote/summernote-active.js"></script>
    <script src="~/Scripts/Admin/summernote/summernote.min.js"></script>
    <!-- tab JS
        ============================================ -->
    <script src="~/Scripts/Admin/tab.js"></script>
    <!-- plugins JS
        ============================================ -->
    <script src="~/Scripts/Admin/plugins.js"></script>
    <!-- main JS
        ============================================ -->
    <script src="~/Scripts/Admin/main.js"></script>


</body>

</html>